.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement{
    outline: none;
    border: 1px solid lightgray;
    font: inherit;
    padding: 5px 10px;  
    box-sizing: border-box; 
    display: block;
    width: 100%;
}

.InputElement:focus{
    outline: none;
    background-color: bisque;
    transition: 0.3;
}

.Invalid{
    border: 1px solid red;
    background-color: lightcoral;
}